.vscode
log/
models/__pycache__/
pointnet2/__pycache__/
pointnet2/build/
pointnet2/dist/
pointnet2/pointnet2.egg-info/
sunrgbd/__pycache__/
venv/
notebooks/.ipynb_checkpoints/
# ignore files in folder foo
saved_viz/*
!saved_viz/.keep

